<div class="relative w-full max-h-screen">
  <div class="2xl:h-screen">
    <img src="/assets/banner_bg.jpg" class="object-cover max-h-screen w-full" />
  </div>
  <div
    class="absolute top-0 bottom-0 flex flex-col justify-center items-center w-full bg-[#000929]/[0.8]"
  >
    <div class="w-[7rem] sm:w-[10rem] md:w-[15rem] 2xl:w-[25rem]">
      <img src="/assets/logo_red.svg" class="w-full" />
    </div>
    <p class="font-sans font-bold text-white text-2xl md:text-5xl lg:text-7xl">
      Coming Soon
    </p>
    <div class="flex items-center mt-2.5 md:mt-7">
      <div class="w-3 md:w-4">
        <img src="/assets/icons/calendar.svg" class="w-full" />
      </div>
      <p class="ml-2 font-sans text-sm md:text-base text-white">
        Dec 15th ~ Dec 16th
      </p>
    </div>
    <div class="flex items-center mt-2.5 md:mt-7">
      <a
        href="https://cfp.rubyconf.tw/"
        target="_blank"
        class="font-sans text-lg md:text-base text-center text-white font-semibold hover:text-dark-pink"
      >
        Call for Proposals</a
      >
    </div>
  </div>
  <div
    class="invisible lg:visible absolute bottom-0 z-20 translate-y-1/2 bg-[url('/assets/wave_shape.png')] bg-repeat-x bg-contain w-full h-[100px] 2xl:h-[178px]"
  ></div>
</div>
