<div class="relative w-full">
  <div class="max-h-screen hidden md:block">
    <img src="/assets/banner_bg_lg.png" class="object-cover max-h-screen w-full" />
  </div>
  <div class="max-h-screen md:hidden">
    <img src="/assets/banner_bg_sm.png" class="object-cover max-h-screen w-full" />
  </div>
  <div class="absolute top-0 left-0 w-full h-full py-9 flex justify-center items-start md:items-center">
    <img src="/assets/logo_white.svg" class="w-64 md:w-[30vw]"/>
  </div>
  <div class="absolute -translate-y-10 md:translate-y-0 top-1/2 md:top-0 left-0 flex flex-col md:justify-center items-center md:items-start w-full h-full md:pl-[10vw]">
    <div class="text-center md:text-start">
      <p class="font-sans font-bold text-white text-2xl md:text-3xl">
        2023
      </p>
      <p class="text-white text-5xl md:text-6xl font-lobster leading-[4.6rem]">
        Dec15 ~ 16
      </p>
      <p class="mt-2 md:mt-4 font-sans font-bold text-white text-sm md:text-lg">
        NATIONAL TAIPEI <br/> UNIVERSITY OF EDUCATION
      </p>
      <div class="mt-4 py-3">
        <a
          href="{{ site.register_link }}"
          target="_blank"
          class="py-3 px-6 rounded-full bg-dark-pink-100 font-sans font-bold text-white text-sm md:text-xl tracking-wider font-medium text-center"
        >
        Register Now</a
        >
      </div>
      <div class="mt-4">
        <a href="https://twitter.com/rubyconftw" target="_blank" class="group text-sm md:text-xl font-semibold text-white hover:border-b-white hover:border-b hover:border-b-solid">
          <span class="group-hover:text-dark-pink-100">▶</span> FOLLOW US <span class="group-hover:text-dark-pink-100">◀</span>
        </a>
      </div>
    </div>
  </div>
</div>
