<header 
  x-data="{
    is_open_mobile_nav: false,
    at_top: true,
  }"
  class="h-fit font-sans text-3.75 overflow-auto" 
  @scroll.window="at_top = (window.pageYOffset > 20) ? false : true"
  >
  <div 
    x-bind:class="{'bg-dark-blue-200 shadow duration-100': !at_top}" 
    class="fixed top-0 w-full right-0 z-20 h-fit"
  >
    <!-- Desktop menu -->
    <div
      x-bind:class="{'bg-dark-blue-200 shadow duration-100': !at_top}"
      class="hidden md:flex items-center justify-between max-w-7xl mx-auto gap-x-6 w-full p-6">
      <div class="inline-flex items-center gap-x-2">
        <div class="text-xl text-white font-extrabold font-russo">RubyConf <br/>Taiwan 2023</div>
      </div>
      <div class="hidden md:flex md:gap-x-8 uppercase items-center">
        <!-- <a href="#news" class="text-lg font-semibold leading-6 text-white hover:text-dark-pink">News</a>-->
        <a href="#speakers" class="font-semibold leading-6 text-white hover:text-dark-pink">Speakers</a>
        <a href="#schedule" class="font-semibold leading-6 text-white hover:text-dark-pink">Schedule</a>
        <a href="#venue" class="font-semibold leading-6 text-white hover:text-dark-pink">Venue</a>
        <a href="#party" class="font-semibold leading-6 text-white hover:text-dark-pink">Party</a>
        <a href="#spotlight_zone" class="font-semibold leading-6 text-white hover:text-dark-pink">Spotlight Zone</a>
        <a href="#sponsor" class="font-semibold leading-6 text-white hover:text-dark-pink">Sponsors</a>
        <a
          href="{{ site.register_link }}"
          target="_blank"
          class="border py-1 px-4 rounded-full bg-dark-pink-100 hover:bg-white text-sm font-sans font-semibold text-white hover:text-dark-pink-100 tracking-wider text-center duration-300"
        >
        Register Now</a
        >
      </div>
      <div class="flex md:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <i class="fa fa-camera-retro"></i>
        </button>
      </div>
    </div>
    <!-- Mobile menu  -->
    <div x-bind:class="{'bg-dark-blue-200 shadow duration-100': !at_top || is_open_mobile_nav}"
        class="md:hidden fixed inset-y-0 right-0 z-10 w-full h-fit px-6 py-5">
      <div @click="is_open_mobile_nav = true" 
           x-bind:class="(at_top && !is_open_mobile_nav) ? 'hidden' : 'flex justify-center w-full'"
           class="absolute top-0 left-0 pt-2.5">
        <img src="/assets/logo_white.svg" width="40" />
      </div>
      <div class="flex items-center gap-5">
        <button x-on:click="is_open_mobile_nav= !is_open_mobile_nav" type="button"
                class="rounded-md p-1 text-white text-2xl">
          <i class="fa fa-bars"></i>
        </button>
        <div class="text-white">Menu</div>
      </div>
      <div 
        x-cloak
        x-show="is_open_mobile_nav"
        x-transition:enter="transition ease-out duration-100"
        x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-95" 
        class="mt-6 flow-root"
        x-on:click.away="is_open_mobile_nav = false">          
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <!-- <a href="#news"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">News</a>
            -->
            <a href="#speakers" x-on:click="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink-100">Speakers</a>
            <a href="#schedule" x-on:click.away="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">Schedule</a>
            <a href="#venue" x-on:click="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">Venue</a>
            <a href="#party" x-on:click="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">Party</a>
            <a href="#spotlight_zone" x-on:click="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">Spotlight Zone</a>
            <a href="#sponsor" x-on:click="is_open_mobile_nav = false"
              class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-dark-pink">Sponsors</a>
            <a href="{{ site.register_link }}"
               target="_blank" x-on:click="is_open_mobile_nav = false"
               class="rounded-full mt-4 py-1 px-4 bg-dark-pink-100 font-sans font-bold text-white tracking-wider text-center"
            >
            Register Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
