<section class="bg-white">
  <div class="flex flex-col items-center mx-auto pb-24 md:py-24 max-w-7xl px-6 font-sans">
    {% include section_title.html title='Party' sm_show=true %}
    <!--  official-party -->
    <div class="w-52 md:w-[40rem] mt-10 rounded grid grid-cols-3 min-h-64 relative">
      <div class="relative col-span-3 md:col-span-2 text-dark-pink-100 bg-dark-blue-200/[0.8] p-4 pt-8 pb-0 md:p-4 font-bold">
        <div class="absolute left-0 top-0 md:top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white z-10 w-8 md:w-4 h-8 md:h-4"></div>
        <div class="absolute md:hidden right-0 top-0 translate-x-1/2 -translate-y-1/2 rounded-full bg-white z-10 w-8 h-8"></div>
        <div class="pt-10 p-4 md:p-4 flex flex-col justify-center rounded-tl-lg rounded-tr-lg md:rounded-lg border-2 md:border-b-2 border-light-gray-200 h-full bg-light-gray-200 md:bg-transparent">
          <div class="md:pb-4 text-4xl text-center md:text-left">Official <br/> Party</div>
          <div class="hidden md:block text-light-gray-100/[0.8] pt-2 text-sm border-t-2 border-white">
            <i class="fa fa-calendar mr-2" aria-hidden="true"></i>2023/12/15 18:30 - 21:30<br/>
            <a class="flex items-center text-[20px] cursor-pointer" href="https://goo.gl/maps/85JqF2Zm2BmCNTYq8" target="_blank">
              <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
              <span class="text-sm underline">PicCollage Office</span>
            </a>
          </div>
        </div>
      </div>
      <div class="relative col-span-3 md:col-span-1 p-4 pb-8 pt-0 md:pb-4 md:pt-8 bg-dark-blue-200/[0.8] md:bg-light-gray-200 font-bold text-dark-blue-200/[0.8] text-center">
        <div class="absolute right-0 bottom-0 md:top-1/2 translate-x-1/2 translate-y-1/2 md:-translate-y-1/2 rounded-full bg-white z-10 w-8 md:w-4 h-8 md:h-4"></div>
        <div class="absolute md:hidden left-0 bottom-0 -translate-x-1/2 translate-y-1/2 rounded-full bg-white z-10 w-8 h-8"></div>
        <div class="rounded-bl-lg rounded-br-lg md:rounded-none px-1 pb-4 md:p-0 bg-light-gray-200">
          <div class="flex md:block justify-center font-bold text-2xl md:text-5xl">
            <p>2023<span class="md:hidden">.</span></p>
            <p>12.15</p>
          </div>
          <p class="w-full ml-0 text-xl md:text-2xl font-bold">18:30 - 21:30</p>
          <div class="mt-6 md:hidden">
            <a class="text-sm md:text-2xl cursor-pointer" href="https://goo.gl/maps/85JqF2Zm2BmCNTYq8" target="_blank">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span class="underline">PicCollage Office</span>
            </a>
          </div>
          <div class="mt-8 md:mt-2 py-2 border-t md:border-none border-t-dark-blue-200">
            <a  target="_blank"
                href="https://goo.gl/maps/85JqF2Zm2BmCNTYq8"
                class="text-lg border-dark-pink-100 border-none md:border-solid border-2 rounded p-2 md:px-3 hover:bg-dark-pink-100  hover:text-white text-dark-pink-100">
                Free for attendee
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>