<div class="flex justify-center">
{% if include.session.room %}
<p class="md:hidden font-normal uppercase bg-dark-blue-200 mt-8 mb-4 px-2.5 py-1 h-fit w-fit text-white rounded-md">
  {{ include.session.room }}
</p>
{% endif %}

{% if include.session.online %}
<p class="font-normal uppercase mt-8 mb-4 px-2.5 py-1 h-fit text-dark-pink-100 w-fitrounded-md">
  <span class="hidden md:inline">●</span><span class="md:hidden">|</span> online
</p>
{% endif %}
</div>

<div class="w-full group" @click="open_id = {{session.session_id}}">
  <div class="w-64 h-64 mx-auto">
    <img
      src="{{include.speaker.avatar}}"
      class="w-full h-full mx-auto rounded-full border-4 border-dark-pink-100 object-cover"/>
  </div>
  <p class="text-gray text-xs mt-2">
    <i class="fa fa-microphone pr-2 text-dark-pink-100"></i>
    Speaker
  </p>
  <p class="mt-4 group-hover:text-dark-pink-100 text-black text-xl font-bold">
    {{ include.session.subject }}
  </p>
  <p class="mt-4 text-black text-lg font-normal">
    {{ include.speaker.name}}
  </p>
</div>

<div class="mt-2">
  <span class="font-normal uppercase bg-dark-pink-100 px-2.5 py-1 h-fit w-fit text-white rounded-md">{{ include.session.lang }}</span>
  {% if include.session.lang == 'CHT' %}
  <span class="ml-2 text-gray"> |
    <a class="pl-2 underline text-sm text-gray"
        href="{% if include.day == 1 %}{{site.interpretation_link_day1}}{% else %}{{site.interpretation_link_day2}}{% endif %}"
        target="_blank">
        with English interpretation
    </a>
  </span>
  {% endif %}
</div>
