<div  class="z-10 fixed inset-0 w-full h-full pt-24 transition-opacity">
  <div @click="open_id=0" class="absolute top-0 w-full h-full bg-black bg-opacity-75"></div>
  <div class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-28 rounded-lg p-4 md:p-8 w-[24rem] md:w-[60rem] max-h-[80vh] bg-white text-left shadow-xl transition-all">
    <div class="relative w-full p-2 md:p-4 bg-white grid grid-cols-5 gap-x-4">
      <!-- speaker -->
      <div class="col-span-5 md:col-span-2 flex md:flex-col justify-center md:justify-start items-center text-center">
        {% for speaker_index in include.speakers %}
        {% assign speaker = site.data.speaker[speaker_index] %}
        <div class="flex flex-col items-center">
          <img
            class="border-4 border-dark-pink-100 rounded-full object-cover w-24 md:w-32 h-24 md:h-32"
            src="{{ speaker.avatar }}"
          />
          <p class="mt-2 text-lg text-gray font-bold">{{ speaker.name }}</p>
          <p class="mt-1 text-gray text-sm font-semibold">{{ speaker.title }}</p>
          <div class="mt-2 text-gray markdownify">{{ speaker.bio }}</div>
          <div class="flex text-dark-pink-100 items-center gap-x-2">
            {% if speaker.urlGithub %}
            <a target="_blank" href="{{ speaker.urlGithub }}" class="cursor-pointer hover:opacity-70 text-4xl">
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            {% endif %}
            {% if speaker.personal_web %}
            <a target="_blank" href="{{ speaker.personal_web }}" class="cursor-pointer hover:opacity-70">
              <img src="assets/icons/home.png" class="w-8 h-8" />
            </a>
            {% endif %}
            {% if speaker.urltwitter %}
            <a target="_blank" href="{{ speaker.urltwitter }}" class="cursor-pointer hover:opacity-70">
              <img src="assets/icons/twitter.png" class="w-8 h-8" />
            </a>
            {% endif %}
            {% if speaker.mastodon %}
            <a target="_blank" href="{{ speaker.mastodon }}" class="cursor-pointer hover:opacity-70">
              <img src="assets/icons/mastodon.svg" class="w-9 h-9" />
            </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- session -->
      <div class="col-span-5 md:col-span-3 mt-4 md:mt-0">
        <div class='flex flex-col max-h-14 md:flex-row content-start md:content-center md:items-center flex-wrap'>
          <p class="order-2 md:order-1 font-bold md:w-full">
            {% if include.day == 1 %}
            2023/12/15
            {% elsif include.day ==2 %}
            2023/12/16
            {% endif %}
          </p>
          {% if include.session.room %}
          <div class="flex items-center justify-center h-14 w-14 order-1 md:order-2">
            <span class="rounded py-1 px-2 mr-3 bg-dark-pink-100 text-white text-sm font-blod">
              {{ include.session.room }}
            </span>
          </div>
          {% endif %}
          <span  class="order-3 md:my-3 font-bold text-lg">
            {{ include.time }} ~ {{ include.end }}
          </span>
        </div>
        <p class="text-xl md:text-2xl font-bold text-dark-blue-200">{{ include.session.subject }}</p>
        <div class="markdownify mt-3">{{ include.session.summary | markdownify }}</div>
        <p class="font-normal text-xs uppercase bg-dark-blue-200 px-2.5 py-1 h-fit w-fit text-white rounded-md">
          {{ include.session.lang }}
        </p>
      </div>
      <button @click="open_id=0" class="absolute right-5 top-5 text-2xl">
        <i class="fa fa-times text-dark-blue-200"></i>
      </button>
    </div>
  </div>
</div>