{% if site.data.schedule %}
<div x-data="{
    day:1
  }" class="z-10 font-sans bg-white">
  <div class="max-w-7xl mx-auto py-24">
    {% include section_title.html title='Schedule' sm_show_decorate=true %}
    <div class="w-full mt-10 text-gray">
      <!-- Day tab -->
      <div class="grid md:grid-cols-2 items-center justify-items-center bg-white text-black font-bold text-base">
        <div x-on:click="day = 1" x-bind:class="{ 'bg-dark-pink-100': day == 1}"
          class="cursor-pointer hover:text-white text-center focus:text-white w-full py-2.5 px-3.5 border border-light-gray-300">
          <span class="uppercase text-xl text-black" x-bind:class="{ 'text-white': day == 1}">Friday</span><br />
          <span class="uppercase text-gray" x-bind:class="{ 'text-light-gray-400': day == 1}">15 Dec, 2023</span>
        </div>
        <div x-on:click="day = 2" x-bind:class="{' bg-dark-pink-100': day == 2}"
          class="cursor-pointer hover:text-white text-center focus:text-dark-pink-100 w-full py-2.5 px-3.5 border border-light-gray-300">
          <span class="uppercase text-xl text-black" x-bind:class="{ 'text-white': day == 2}">Saturday</span><br />
          <span class="uppercase text-gray" x-bind:class="{ 'text-light-gray-400': day == 2}">16 Dec, 2023</span>
        </div>
      </div>

      <div class="grid gap-8 bg-light-gray-100 py-12 px-6">
        <!-- Hall -->
        <div
          class="hidden md:grid grid-cols-3 justify-items-center items-center bg-dark-blue-200 text-white font-medium text-base">
          <div class="grid col-start-2 gap-1 text-center justify-items-center py-5 font-semibold">
            L405 Auditorium
          </div>
          <div class="grid gap-1 text-center justify-items-center py-5 font-semibold">
            L406 Auditorium
          </div>
        </div>
        {% for item in site.data.schedule %}
        <div x-show="day == {{item.day}}" x-data="{open_id: 0}">
          {% if item.title %}
          <!-- Title -->
          <div class="grid grid-cols-3 bg-zinc-100 font-medium text-base">
            <div class="col-span-3 md:col-span-1 py-5 font-semibold text-center text-2xl md:text-xl">
              {{ item.time}}
            </div>
            <div
              class="col-span-3 md:col-span-2 py-5 uppercase text-lg font-bold text-center
                    {% if item.title == 'Break' %}text-gray{% else %}text-dark-pink-100{% endif %}">
              {{ item.title }}
            </div>
            {% if item.panel %}
              <div class="col-span-3 md:col-span-2 md:col-start-2 px-5 pb-5 text-center">{{ item.panel | markdownify }}</div>
            {% endif %}
          </div>
          {% else %}
          <!-- sessions start -->
          <div class="grid grid-cols-3 gap-y-2 justify-items-center items-center bg-white py-6 md:py-10">
            <div class="col-span-3 md:col-span-1 text-center">
              <p class="text-2xl md:text-xl font-semibold">{{ item.time}}</p>
            </div>
            {% for session in item.sessions %}
            <!-- Speaker avatar and info -->
            <div
              {% if session.room == 'L405' %}
              class="col-statr-1 md:col-start-2 col-span-3 md:col-span-1 grid gap-1 text-center justify-items-center"
              {% elsif session.room == 'L406' %}
              class="col-statr-1 md:col-start-3 col-span-3 md:col-span-1 grid gap-1 text-center justify-items-center"
              {% else %}
              class="col-span-3 md:col-span-2 grid gap-1 text-center justify-items-center"
              {% endif %}
            >
            {% for speaker_index in session.speakers %}
              {% assign speaker = site.data.speaker[speaker_index] %}
              {% include schedule_card.html session = session speaker = speaker %}
            {% endfor %}
          </div>
            <!-- Modal start -->
            <div x-cloak x-show="open_id == {{session.session_id}}" class="fixed z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
              {% include schedule_modal.html day=item.day time=item.time end=item.end speakers=session.speakers session=session %}
            </div>
            <!-- Modal end -->
            {% endfor %}
          </div>
          <!-- sessions end -->
          {% endif%}
        </div>
        {% endfor %}
        <!-- Simultaneous Interpretation Service -->
        <div class="py-5 bg-dark-blue-200 text-white/80 text-center">
          We offer
          {% if site.interpretation_link_enabled %}
          <a class="mr-1 underline cursor-pointer" target="_blank" x-bind:href="day == 1 ? '{{ site.interpretation_link_day1 }}': '{{ site.interpretation_link_day2 }}'"> Simultaneous Interpretation Service</a>
          {% else %}
          Simultaneous Interpretation Service
          {% endif %}
          (Mandarin to English) on all Mandarin sessions.
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}