<section class="bg-light-gray-200">
  <div class="flex flex-col items-center mx-auto py-24 max-w-7xl px-6">
    {% include section_title.html title='Venue' sm_show=true %}
    <div class="mt-8 grid grid-cols-2 gap-x-8">
      <div class="col-span-2 md:col-span-1 flex justify-center md:justify-end">
        <img src="assets/venue.jpeg" class="w-2/3"/>
      </div>
      <div class="col-span-2 md:col-span-1">
        <p class="text-xl md:text-3xl font-bold mt-4 md:mt-0">National Taipei University of Education - Student Center 4F</p>
        <p class="text-xl md:text-3xl font-bold mt-2 md:mt-4">國立臺北教育大學 活動中心4樓</p>
        <p class="text-gray mt-4 md:mt-8">No.134, Sec. 2, Heping E. Rd., Da-an District, Taipei City 106, Taiwan (R.O.C.)</p>
        <p class="text-gray">臺北市大安區和平東路2段134號</p>
        <div class="mt-6 md:mt-4">
          <a target="_blank"
            href="https://maps.app.goo.gl/8dp5pz8ZuRUXfVXRA"
            class="cursor-pointer border border-dark-pink-200 rounded-md py-2 px-3 text-dark-pink-200 hover:text-white hover:bg-dark-pink-200">Google Map</a>
        </div>
      </div>
    </div>
  </div>
</section>