---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.markdownify a {
  color: #0C0A81;
  text-decoration: underline;
}

.markdownify a::hover {
  opacity: 70;
}


.markdownify p {
  margin-bottom: 1rem;
}

.markdownify ul {
  text-align: left;
}

.bio.markdownify li::before {
  content: "•";
  padding-right: 8px;
}

.bio.markdownify ul li ul li::before {
  margin-left: 8px;
  content: "。";
  padding-right: 8px;
}

.markdownify h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.markdownify .pink-h3{
  color: #990531;
}