<!doctype html>

<head>
  <title>{{page.title}}</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/logo_red.svg" type="image/x-icon">
  <link rel="icon" href="/assets/logo_red.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
</head>

<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
</body>

</html>